.navbar {
  margin: 10px;
  height: 80px;
  border-bottom: 1px solid lightgrey;
}
.getInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 80px;
  justify-content: space-evenly;
}
.title-text {
  margin-top: 60px !important;
  text-align: center !important;
}
.left_side {
  flex: 0.3;
}
.right_side {
  flex: 0.3;
}
.left_side span {
  color: gray;
}
.gender_button {
  padding: 10px 20px !important;
  border: 2px solid lightgrey !important;
  color: #000 !important;
}
.gender_button:hover {
  border: 2px solid #ff4458 !important;
  color: #ff4458 !important;
}

.selected_images {
  /* visibility:hidden; */
  border-radius: 10px;
  width: 400px;
  height: content;
}

.active {
  border: 2px solid #ff4458 !important;
  color: #ff4458 !important;
}
.active:hover{
  border: 2px solid lightgrey !important;
  color: #000 !important;
}